<div class="container text-center mt-5">
  <h1>Welcome to Friend App!</h1>
  <p>Your Ultimate Social Connection Platform</p>
  <p>Connecting Friends, One Click at a Time</p>
  <a href="/signup" class="btn btn-primary btn-lg mt-3">Get Started</a>
</div>
